@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: gold;
}

.banner-background {
  background-image: url('../public/banner.jpg');
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bannerContent {
  display: flex;
  padding-top: 80px;
  justify-content: space-around;
}

.tagline {
  display: flex;
  height: 40%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.carousel {
  height: 50%;
  display: flex;
  align-items: center;
}

.carousel-container {
  height: 50%;
  display: flex;
  align-items: center;
}

.carousel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  color: white;
}

.carousel-item img {
  height: 60px;
  margin-bottom: 10px;
}

.carousel-item span {
  font-size: 20px;
  font-weight: 500;
}

.carousel-item .profit {
  color: rgb(14, 203, 129);
  font-weight: 500;
}

.carousel-item .loss {
  color: red;
  font-weight: 500;
}

.coin-row {
  background-color: #16171a;
  cursor: pointer;
}

.coin-row:hover {
  background-color: #131111;
}

.coinPage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 960px) {
  .coinPage-container {
    flex-direction: row;
  }
}

.coinPage-sidebar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  border-right: 2px solid grey;
}

@media (min-width: 960px) {
  .coinPage-sidebar {
    width: 30%;
  }
}

.coinPage-heading {
  font-weight: bold;
  margin-bottom: 20px;
  font-family: 'Montserrat';
}

.coinPage-marketData {
  align-self: start;
  padding: 25px;
  padding-top: 10px;
}

@media (max-width: 600px) {
  .coinPage-marketData {
    display: flex;
    justify-content: space-around;
  }
}

@media (max-width: 400px) {
  .coinPage-marketData {
    flex-direction: column;
    align-items: center;
  }
}

.selectButton {
  border: 1px solid gold;
  border-radius: 5px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  background-color: transparent;
  color: inherit;
  font-weight: 500;
  width: 22%;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.selectButton:hover {
  background-color: gold;
  color: black;
}

.selectButton.selected {
  background-color: gold;
  color: black;
  font-weight: 700;
}

.coinInfoContainer {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  padding: 40px;
}

@media (max-width: 960px) {
  .coinInfoContainer {
    width: 100%;
    margin-top: 0;
    padding: 20px;
    padding-top: 0;
  }
}

.chartDaysContainer {
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
  width: 100%;
}
